/* General Header Styles */

.header {
    padding: 1.2rem;
    background-color: #00040a;
}

.logo {
    width: 32px; /* Ajusta el tamaño según sea necesario */
    height: 32px;
    vertical-align: middle;
    margin-right: 0.5rem;
}

/* Navigation Styles */
.nav {
    display: flex;
    padding: 0.75rem 1.25rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    background-color: #f9fafb;
    color: #374151;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    position: relative;
}
.dropdown-menu {
    display: none; /* Oculta el menú por defecto */
    position: absolute;
    top: 100%; /* Coloca el menú justo debajo del ítem de navegación */
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px; /* Ancho del menú */
    z-index: 1000; /* Asegura que el menú se muestre encima de otros elementos */
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f1f1f1;
}

/* Muestra el menú cuando el ítem de navegación es hover o tiene la clase 'show' */
.nav-item:hover .dropdown-menu {
    display: block;
}

.nav-link {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 10000;
    color: #374151;
    text-decoration: none;
    transition: color 0.2s;
}

.nav-link:hover {
    color: #3b82f6;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
}