<header class="header">
    <h1>
        <img class="ups" src="https://acortar.link/jSqLax" alt="Logo Ups"> Biblioteca
    </h1>
    <nav>
        <ul class="nav_links">
            <li><a routerLink="#">Inicio</a></li>
            <li><a routerLink="/libros">Libros</a></li>
            <li><a routerLink="/mi-perfil">Mi Perfil</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>
</header>

<!-- Sección Welcome -->
<div class="welcome" *ngIf="mostrarWelcome">
    <h3>{{username}} ¡Bienvenido a la Biblioteca Virtual! 📚</h3>
    <h5 class="intro">
        Estamos encantados de tenerte aquí. En nuestra biblioteca, tendrás acceso a una amplia colección de libros y recursos que te permitirán explorar nuevos mundos, aprender sobre diversos temas y disfrutar de la lectura como nunca antes.
    </h5>
    <ul class="features">
        <li>• Explora nuestra colección: Navega por una variedad de libros en diferentes géneros y temas.</li>
        <li>• Administra tus préstamos: Controla y realiza un seguimiento de tus libros prestados.</li> <br>
        <li>• Para acceder a nuestros libros porfavor hacer click en la parte superior "Libros"</li>
    </ul>
    <button class="delete-button" (click)="mostrarFormulario = true">Crear Libro</button>
</div>


<!-- Ventana Modal para Crear Libro -->
<div class="modal" *ngIf="mostrarFormulario">
    <div class="modal-content">
        <span class="close" (click)="mostrarFormulario = false">&times;</span>
        <h2>Crear Libro</h2>
        <form class="form" (ngSubmit)="createLibro()">
            <div class="form-group">
                <label>Título:</label>
                <input [(ngModel)]="newLibro.titulo" name="titulo" required>
            </div>
            <div class="form-group">
                <label>Edición:</label>
                <input [(ngModel)]="newLibro.edicion" name="edicion" required>
            </div>
            <div class="form-group">
                <label>Género:</label>
                <input [(ngModel)]="newLibro.genero" name="genero" required>
            </div>
            <div class="form-group">
                <label>Autor:</label>
                <input [(ngModel)]="newLibro.autor" name="autor" required>
            </div>
            <div class="form-group">
                <label>Contenido:</label>
                <input [(ngModel)]="newLibro.contenido" name="contenido" required>
            </div>
            <div class="form-group">
                <label>Portada:</label>
                <input [(ngModel)]="newLibro.portada" name="portada">
            </div>
            <button type="submit" class="update-button">Crear</button>
            <button type="button" (click)="mostrarFormulario = false" class="cancel-button">Cancelar</button>
        </form>
    </div>
</div>
