<header class="header">
  <h1>
      <img class="ups" src="https://acortar.link/jSqLax" alt="Logo Ups"> Biblioteca
  </h1>
  <nav>
      <ul class="nav_links">
          <li><a routerLink="/dashboard">Inicio</a></li>
          <li><a routerLink="/libros">Libros</a></li>
          <li><a routerLink="/prestamos">Prestamos</a></li>
      </ul>
  </nav>
</header>

<div class="search-container">
  <form class="search-form" (ngSubmit)="filtrarLibros()">
    <input 
      type="text" 
      name="searchTerm" 
      placeholder="Buscar por título"
      [(ngModel)]="searchTerm"
      (input)="filtrarLibros()"
    >
    <select 
      name="category" 
      [(ngModel)]="selectedCategory"
      (change)="filtrarLibros()"
    >
      <option value="">Todas las categorías</option>
      <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
    </select>
    <select 
      name="author" 
      [(ngModel)]="selectedAuthor"
      (change)="filtrarLibros()"
    >
      <option value="">Todos los autores</option>
      <option *ngFor="let autor of autores" [value]="autor">{{ autor }}</option>
    </select>
    <select 
      name="availability" 
      [(ngModel)]="selectedAvailability"
      (change)="filtrarLibros()"
    >
      <option value="">Todos</option>
      <option value="disponible">Disponibles</option>
      <option value="no-disponible">No disponibles</option>
    </select>
  </form>
</div>

<div class="book-container">
  <div *ngFor="let libro of filteredLibros; let i = index" class="book-card">
    <div class="book-cover-container">
      <img [src]="libro.portada" alt="Portada del libro" class="book-cover">
    </div>
    <div class="book-info">
      <h5>{{ libro.titulo }}</h5>
      <p>{{ libro.edicion }}ª edición</p>
      <div class="book-details">
        <p><strong>Género:</strong> {{ libro.genero }}</p>
        <p><strong>Autor:</strong> {{ libro.autor }}</p>
        <p><strong>Contenido:</strong> {{ libro.contenido }}</p>
      </div>
      <div class="book-actions">
        <button *ngIf="libro.libroId !== undefined && role === 'admin'" (click)="eliminarLibro(libro.libroId)" class="delete-button">Eliminar</button>
        <button *ngIf="role === 'admin'" (click)="seleccionarLibro(libro, i)" class="delete-button">Editar</button>
        <button class="delete-button" (click)="pedirLibro(libro.libroId)">Pedir</button>
      </div>
    </div>
    <div class="modal" *ngIf="libroEditIndex === i">
      <div class="modal-content">
        <span class="close" (click)="resetForm()">&times;</span>
        <h2>Actualizar Libro</h2>
        <form class="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Título:</label>
            <input [(ngModel)]="newLibro.titulo" name="titulo" required>
          </div>
          <div class="form-group">
            <label>Edición:</label>
            <input [(ngModel)]="newLibro.edicion" name="edicion" required>
          </div>
          <div class="form-group">
            <label>Género:</label>
            <input [(ngModel)]="newLibro.genero" name="genero" required>
          </div>
          <div class="form-group">
            <label>Autor:</label>
            <input [(ngModel)]="newLibro.autor" name="autor" required>
          </div>
          <div class="form-group">
            <label>Contenido:</label>
            <input [(ngModel)]="newLibro.contenido" name="contenido" required>
          </div>
          <div class="form-group">
            <label>Portada:</label>
            <input [(ngModel)]="newLibro.portada" name="portada">
          </div>
          <button type="submit" class="delete-button">Actualizar</button>
          <button type="button" class="delete-button" (click)="resetForm()">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
