<header class="header">
  <h1>
      <img class="logo" src="https://cdn-icons-png.flaticon.com/128/5351/5351366.png" alt="Logo Ups"> Biblioteca
  </h1>

  <nav class="nav">
      <ol class="nav-list">
          <li class="nav-item">
              <a href="#" class="nav-link">
                  Inicio
                  <svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                      <path fill-rule="evenodd" d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z" clip-rule="evenodd"/>
                  </svg>
              </a>
          </li>
          <li class="nav-item">
              <a href="/libros" class="nav-link">
                  Libros
                  <svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                      <path fill-rule="evenodd" d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2a1 1 0 0 0 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z" clip-rule="evenodd"/>
                  </svg>
              </a>
          </li>
          <li class="nav-item dropdown">
              Otros
              <a href="#" class="nav-link">
                  <svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                      <path fill-rule="evenodd" d="M12 16a1 1 0 0 1-.7-.29l-6-6a1 1 0 1 1 1.4-1.4L12 13.6l5.3-5.3a1 1 0 1 1 1.4 1.4l-6 6A1 1 0 0 1 12 16z" clip-rule="evenodd"/>
                  </svg>
              </a>
              <ul class="dropdown-menu">
                  <li><a href="/reservas" class="dropdown-link">Reservas</a></li>
                  <li><a href="/prestamos" class="dropdown-link">Prestamos</a></li>
                  <li><a href="/devolucion" class="dropdown-link">Devolucion</a></li>
                  <li><a href="/historial" class="dropdown-link" *ngIf="role === 'admin'">Historial</a></li>
                  <li><a href="/reporte" class="dropdown-link" *ngIf="role === 'admin'">Reportes</a></li>
                  <li><a href="/ayuda" class="dropdown-link">Ayuda</a></li>
                  <li><a href="/informacion" class="dropdown-link">Información</a></li>
                  <li><a href="/aboutUs" class="dropdown-link">Sobre Nosotros</a></li>
              </ul>
          </li>
          <li class="nav-item">
              <a (click)="logout()" class="nav-link">
                  Salir
                  <svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2"/>
                  </svg>
              </a>
          </li>
      </ol>
  </nav>
</header>

<div class="search-container">
  <form class="search-form" (ngSubmit)="filtrarLibros()">
    <input 
      type="text" 
      name="searchTerm" 
      placeholder="Buscar por título"
      [(ngModel)]="searchTerm"
      (input)="filtrarLibros()"
    >
    <select 
      name="category" 
      [(ngModel)]="selectedCategory"
      (change)="filtrarLibros()"
    >
      <option value="">Todas las categorías</option>
      <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
    </select>
    <select 
      name="author" 
      [(ngModel)]="selectedAuthor"
      (change)="filtrarLibros()"
    >
      <option value="">Todos los autores</option>
      <option *ngFor="let autor of autores" [value]="autor">{{ autor }}</option>
    </select>
    <select 
      name="availability" 
      [(ngModel)]="selectedAvailability"
      (change)="filtrarLibros()"
    >
      <option value="disponible">Disponibles</option>
      <option value="no-disponible">No disponibles</option>
    </select>
  </form>
</div>

<div class="book-container">
  <div *ngFor="let libro of filteredLibros; let i = index" class="book-card">
    <div class="book-cover-container">
      <img [src]="libro.portada" alt="Portada del libro" class="book-cover">
    </div>
    <div class="book-info">
      <h5>{{ libro.titulo }}</h5>
      <p>{{ libro.edicion }}ª edición</p>
      <div class="book-details">
        <p><strong>Género:</strong> {{ libro.genero }}</p>
        <p><strong>Autor:</strong> {{ libro.autor }}</p>
        <p><strong>Contenido:</strong> {{ libro.contenido }}</p>
      </div>
      <div class="book-actions">
        <button *ngIf="libro.libroId !== undefined && role === 'admin'" (click)="eliminarLibro(libro.libroId)" class="delete-button">Eliminar</button>
        <button *ngIf="role === 'admin'" (click)="seleccionarLibro(libro, i)" class="delete-button">Editar</button>
        <button class="delete-button" (click)="pedirLibro(libro.libroId)">Pedir</button>
      </div>
    </div>
    <div class="modal" *ngIf="libroEditIndex === i">
      <div class="modal-content">
        <span class="close" (click)="resetForm()">&times;</span>
        <h2>Actualizar Libro</h2>
        <form class="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Título:</label>
            <input [(ngModel)]="newLibro.titulo" name="titulo" required>
          </div>
          <div class="form-group">
            <label>Edición:</label>
            <input [(ngModel)]="newLibro.edicion" name="edicion" required>
          </div>
          <div class="form-group">
            <label>Género:</label>
            <input [(ngModel)]="newLibro.genero" name="genero" required>
          </div>
          <div class="form-group">
            <label>Autor:</label>
            <input [(ngModel)]="newLibro.autor" name="autor" required>
          </div>
          <div class="form-group">
            <label>Contenido:</label>
            <input [(ngModel)]="newLibro.contenido" name="contenido" required>
          </div>
          <div class="form-group">
            <label>Portada:</label>
            <input [(ngModel)]="newLibro.portada" name="portada">
          </div>
          <div class="form-group">
            <label for="libro">disponibilidad:</label>
            <input [(ngModel)]="newLibro.disponibilidad" name="disponibilidad">
          </div>
          <button type="submit" class="delete-button">Actualizar</button>
          <button type="button" class="delete-button" (click)="resetForm()">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
