<header class="header">
  <h1>
      <img class="logo" src="https://cdn-icons-png.flaticon.com/128/5351/5351366.png" alt="Logo Ups"> Biblioteca
  </h1>

  <nav class="nav">
      <ol class="nav-list">
          <li class="nav-item">
              <a href="/dashboard" class="nav-link">
                  Inicio
                  <svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                      <path fill-rule="evenodd" d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z" clip-rule="evenodd"/>
                  </svg>
              </a>
          </li>
          <li class="nav-item">
              <a href="/libros" class="nav-link">
                  Libros
                  <svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                      <path fill-rule="evenodd" d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2a1 1 0 0 0 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z" clip-rule="evenodd"/>
                  </svg>
              </a>
          </li>
          <li class="nav-item">
              <a href="/prestamos" class="nav-link">
                Prestamos
                  <svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                      <path fill-rule="evenodd" d="M8 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-6 8a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1 3a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z" clip-rule="evenodd"/>
                  </svg>
              </a>
          </li>
          <li class="nav-item">
              <a (click)="logout()" class="nav-link">
                  Salir
                  <svg class="icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12H4m12 0-4 4m4-4-4-4m3-4h2a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3h-2"/>
                  </svg>
              </a>
          </li>
      </ol>
  </nav>
</header>

<div class="centered-form-container">
  <form class="form-wrapper" #prestamoForm="ngForm" (ngSubmit)="createPrestamo()">
    <div class="form-content">
      <div class="form-section">
        <h4>Usuario</h4>
        <div class="form-group">
          <label for="usuario">Nombre:</label>
          <input type="text" id="nombre" name="nombre" [value]="usuarioActual?.username" [(ngModel)]="newPrestamo.usuario.username" readonly>
        </div>
        <div class="form-group">
          <label for="usuario">Email:</label>
          <input type="email" id="email" name="email" [value]="usuarioActual?.email" [(ngModel)]="newPrestamo.usuario.email" readonly>
        </div>
        <div class="form-section">
          <h4>Fechas</h4>
          <div class="form-group">
              <label for="fechaPrestamo">Fecha de Préstamo:</label>
              <input type="date" id="fechaPrestamo" name="fechaPrestamo" [(ngModel)]="newPrestamo.fechaPrestamo" readonly>
          </div>
          <div class="form-group">
              <label for="fechaDevolucion">Fecha de Devolución:</label>
              <input type="date" id="fechaDevolucion" name="fechaDevolucion" required>
          </div>
        </div>  
      </div>

      <div class="form-section">
        <h4>Libro</h4>
        <div class="form-group">
          <label for="libro">Id:</label>
          <input type="number" id="libroId" name="libroId" [value]="libroActual?.libroId" [(ngModel)]="newPrestamo.libro.libroId" readonly>
        </div>
        <div class="form-group">
          <label for="libro">Titulo:</label>
          <input type="text" id="titulo" name="titulo" [value]="libroActual?.titulo" [(ngModel)]="newPrestamo.libro.titulo" readonly>
        </div>
        <div class="form-group">
          <label for="libro">Edicion:</label>
          <input type="text" id="edicion" name="edicion" [value]="libroActual?.edicion" [(ngModel)]="newPrestamo.libro.edicion" readonly>
        </div>
        <div class="form-group">
          <label for="libro">Genero:</label>
          <input type="text" id="genero" name="genero" [value]="libroActual?.genero" [(ngModel)]="newPrestamo.libro.genero" readonly>
        </div>
        <div class="form-group">
          <label for="libro">Autor:</label>
          <input type="text" id="autor" name="autor" [value]="libroActual?.autor" [(ngModel)]="newPrestamo.libro.autor" readonly>
        </div>
        <div class="form-group">
          <label for="libro">Contenido:</label>
          <input type="text" id="contenido" name="contenido" [value]="libroActual?.contenido" [(ngModel)]="newPrestamo.libro.contenido" readonly>
        </div>
        <div class="form-group">
          <label for="libro">Portada:</label>
          <input type="text" id="portada" name="portada" [value]="libroActual?.portada" [(ngModel)]="newPrestamo.libro.portada" readonly>
        </div>
        <div class="form-group">
          <label for="libro">Disponibilidad:</label>
          <input type="text" id="disponibilidad" name="disponibilidad" [(ngModel)]="newPrestamo.libro.disponibilidad" readonly>
        </div>
      </div>

 
    </div>
    <div class="button-container">
      <button type="submit" class="delete-button">Enviar</button>
      <button type="button" class="delete-button" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>