html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    color: #fff;
    overflow: auto;
    background-image: url('https://i.pinimg.com/originals/97/57/93/975793fff4eb682dcc396c2885a13f2f.jpg');
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #34495e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.header h1 {
    font-size: 24px;
    margin: 0;
    display: flex;
    align-items: center;
}

.header .ups {
    height: 40px;
    margin-right: 10px;
}

.nav_links {
    display: flex;
    gap: 20px;
}

.nav_links li {
    margin: 0;
}

.nav_links a {
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav_links a:hover {
    background-color: #060606;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px;
    color: white;
    font-size: 20px;
}

.welcome h3 {
    margin: 30px 0;
    color: white;
}

.welcome p {
    font-size: 12px;
    max-width: 600px;
    margin-bottom: 20px;
    color: white;
}

.welcome ul {
    list-style: none;
    padding: 0;
    color: white;
}

.welcome ul li {
    font-size: 20px;
    margin: 5px 0;
    color: white;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.book-card {
    display: flex;
    flex-direction: row;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-cover-container {
    width: 160px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.book-cover {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.book-info {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.book-details {
    margin-top: 10px;
    padding-top: 10px;
    flex: 1;
}

.book-details strong {
    font-weight: bold;
}

.delete-button {
    margin-top: 10px;
}

.accordion-button {
    background-color: #34495e;
    color: #ffffff;
    border: none;
    text-align: left;
    padding: 10px 15px;
    width: 100%;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.accordion-button:hover {
    background-color: #2c3e50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(52, 73, 94, 0.5);
}

.delete-button {
    background-color: #34495e;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 10px;
    margin-right: 10px;
}

.delete-button:hover {
    background-color: #7e33336b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #34495e;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: #fff;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.update-button, .cancel-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
}